.header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin: 20px 0;
  background: #fff;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.headline-section {
  display: flex;
  flex-direction: column;
  background: url(./images/header-shapes\ mobile.svg) no-repeat;
  background-size: cover;
  min-height: 596px;
  background-color: #fff;
}


.headline-content {
  padding: 24px;
}

.heading1 {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-top: 40px;
  line-height: 52px;
  align-items: center;
  padding: 16px;
}

.paragraph1 {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.lets-connect {
  color: #7f8cff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  gap: 16px;
  list-style: none;
  margin-bottom: 10px;
}
