* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  display: grid;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  background: #e5e5e5;
}

.hamburger {
  z-index: 1;
  display: block;
}

.ham1 {
  margin: 4px 0;
  height: 2px;
  width: 20px;
  background: #2230d2;
}

.ham2 {
  margin: 4px 0;
  height: 2px;
  width: 20px;
  background: #2230d2;
}

.ham3 {
  margin: 4px 0;
  height: 2px;
  width: 20px;
  background: #2230d2;
}

.container {
  display: grid;
  flex-direction: column;
  background: #e5e5e5;
  justify-content: center;
  row-gap: 80px;
}

.logo {
  margin-left: 10%;
  animation-name: logo;
  animation-duration: 4s;
  animation-iteration-count: 3;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  color: #6070ff;
}

@keyframes logo {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.header {
  position: fixed;
  width: 90%;
  padding: 12px 5%;
  background: #fff;
}

li {
  display: flex;
  list-style: none;
}

.mobile {
  display: flex;
}

.desktop {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.headline-section {
  display: flex;
  flex-direction: column;
  background: url(./images/header-shapes\ mobile.svg) no-repeat;
  background-size: cover;
  min-height: 596px;
  background-color: #fff;
  border-radius: 0 0 0 70px;
  margin-bottom: 100px;
}

.headline-content {
  padding: 24px;
}

.heading1 {
  color: #172b4d;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-top: 40px;
  line-height: 52px;
  align-items: center;
  padding: 16px;
}

.paragraph1 {
  color: #344563;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lets-connect {
  color: #7f8cff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  gap: 16px;
  list-style: none;
  margin-bottom: 10px;
}

/* Imgage1 */
.image1 {
  justify-content: center;
}

.work-section {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  justify-content: center;
  margin: 16px;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border-radius: 16px;
  margin-bottom: 100px;
}

.left-block {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  flex: 1;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  line-height: 44px;
  padding: 0;
  margin: 0;
}

.btn-card {
  border-radius: 8px;
  color: #6070ff;
  padding: 12px;
  border: 1px solid #6070ff;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 3%;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.menu2 {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  margin: 0;
  text-decoration-style: none;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
  text-decoration: none;
  color: #344563;
}

.back-end {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
  text-decoration: none;
  color: #7a869a;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
  text-decoration: none;
  color: #7a869a;
}

.paragraph2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-right: 25px;
}

.html-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  list-style: none;
}

a {
  text-decoration: none;
}

.html-tags > li {
  background-color: #ebebff;
  color: #6070ff;
  padding: 4px 12px;
  border-radius: 8px;
}

button {
  transition: all 1s ease-in-out;
}

.button1 {
  border-radius: 8px;
  width: 134px;
  height: 50px;
  color: #6070ff;
  border: 1px solid #6070ff;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0 20px 0;
}

.stories-section {
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  display: flex;
  margin: 16px;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border-radius: 16px;
}

#about-myself {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  top: 4769;
  left: 375;
  background: #fff;
  background: url(./images/about-myself.svg) no-repeat;
  background-size: cover;
  padding: 0 20px;
  padding-bottom: 120px;
}

.header-myself {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  padding-top: 45px;
  line-height: 52px;
  display: flex;
  margin: 90px 0 0 0;
}

.heading-about {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
}

.p3 {
  display: flex;
  color: #172b4d;
  justify-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 80%;
  margin: 20px 0;
}

.about-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.resume {
  padding: 10px 10px;
  color: #6070ff;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

button:enabled {
  color: #6070ff;
  background: #fff;
  border: 1px solid #7f8cff;
}

button:hover {
  background: #6070ff;
  color: #fff;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  background: #2230d2;
  color: #fff;
}

.languages {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: center;
}

.arrow-down {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: sp;
  width: 24px;
  height: 24px;
  margin-bottom: 17px;
  margin-left: 45%;
  left: 5px;
  top: 8px;
}

.language-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  row-gap: 12px;
}

.java-script {
  display: flex;
}

.java1 {
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  justify-content: flex-st;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  width: 90%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.frameworks {
  display: flex;
  flex-direction: row;
  left: 375px;
  top: 4769px;
  background: #fff;
  padding: 30px 0;
  justify-content: space-between;
}

.lang-arrow {
  align-items: center;
}

.frame-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow1 {
  display: flex;
  margin-left: 120px;
  justify-content: flex-end;
  padding: auto;
}

.arrow2 {
  display: flex;
  margin-left: 180px;
  justify-content: flex-end;
  padding: auto;
}

hr {
  row-gap: 2%;
}

.frameheading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

/* Contact-form section */

#contact-form {
  background: #fff;
}

.contact-form {
  background: #6070ff;
  background-image: url(./images/contact_form_shapes-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 103px 24px 40px 24px;
  border-radius: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.contact-form-h1 {
  padding-top: 55px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-bottom: 12px;
}

.contact-form-p1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding-bottom: 50px;
  width: 50%;
}

.contact-form-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-list > li {
  list-style: none;
}

.contact-form-list > li > input {
  width: 80%;
}

.html-tags > li:hover {
  background: #6070ff;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-name,
.contact-email {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  background: #fff;
  padding: 15px 38px 15px 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.text-area {
  background: #fff;
  border: 1px solid #cfd8dc;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-me-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
}

@media (max-width: 766px) {
  .mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    line-height: 44px;
    z-index: 1;
    left: -100%;
    transition: all 0.5s ease-in-out;
    height: 100vh;
  }

  .hamburger.active {
    display: block;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }

  .hamburger.active .ham1 {
    transform: rotate(45deg) translateY(8px);
    background: #fff;
    transition: all 0.5s ease-in-out;
  }

  .hamburger.active .ham2 {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .hamburger.active .ham3 {
    transform: rotate(-45deg) translateY(-8px);
    background: #fff;
    transition: all 0.5s ease-in-out;
  }

  .mobile-menu.in-active {
    left: 0;
    top: 0;
    width: 100%;
    background: #2230d2;
    opacity: 0.9;
    height: 100vh;
    font-size: 32px;
    line-height: 44px;
    padding-top: 50px;
    transition: all 0.5s ease-in-out;
  }

  .menu-list {
    color: #fff;
    text-align: center;
    justify-content: start;
    padding-left: 28px;
    font-family: 'poppins', sans-serif;
    padding-top: 40px;
    font-weight: 600;
  }

  .menu-list a {
    text-decoration: none;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    width: 90%;
    padding: 20px 10%;
    background: #fff;
  }

  .mobile {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .menu-list {
    padding-top: 5px;
    gap: 10px;
    display: flex;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    color: #2230d2;
  }

  .desktop {
    display: flex;
    padding-right: 8.5%;
  }

  .work-section {
    flex-direction: row;
    height: 11%;
    flex: 1;
  }

  .section2 {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
  }

  .headline-section {
    padding: 0 11%;
  }

  #about-myself {
    flex-direction: row;
    padding: 5% 5% 20%;
  }

  .frameworks > hr {
    flex-direction: column;
  }

  #about-myself > div {
    flex: 1;
  }

  .language-list {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
  }

  .heading1 {
    padding: 20px 0 30px 0;
    color: #172b4d;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin-top: 60px;
    line-height: 60px;
  }

  .headline-content {
    padding: 90px 24px 60px;
  }

  .language-list > .java1 {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .work-section > img {
    flex: 1;
  }

  .section2 > img {
    flex: 1;

    /* order: 1; */
  }

  .contact-form-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .left-block {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    padding: 50px 46px 48px 40px;
    gap: 20px;
    flex: 1;
  }

  .paragraph2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    padding-right: 40%;
  }
}
